.forecast-details{
  width: 100%;
  height: auto;
  flex: 1;
  background-color: #202B3B !important;
  color: #e6e6ed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details-accordion{
  background-color: #202B3B !important;
  color: #e6e6ed !important;
}