.forecast-three-hourly{
  width: 100%;
  height: auto;
  flex: 1;
  margin-bottom: 3%;
  background-color: #202B3B !important;
  color: #e6e6ed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flip-card{
  background-color: #2e3d54 !important;
  color: #e6e6ed !important;
}