.forecast-details {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #202b3b !important;
  color: #e6e6ed;
  display: flex;
  flex-direction: column;

  .details-title {
    padding-left: 2%;
    padding-top: 2%;
    color: #9399a2;
  }

  .details-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 2%;

    @media (max-width: 450px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .detail-item {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 8px;
      background-color: #2e3d54 !important;

      @media (max-width: 1380px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @media (max-width: 450px) {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }

      .icon-and-caption {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .icon-container {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 8px;

          .icon {
            font-size: 30px;
            margin-right: 6px;
            color: #9399a2;
          }
        }

        .detail-item-title {
          color: #9399a2;
        }

      }
    }
  }
}