.forecast-basic {
  width: 100%;
  flex: 1;
  height: 100%;
  margin-bottom: 2%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;


  .weather-basic-accordion {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    background-color: rgba(32, 43, 59, 0.9);
    color: #e6e6ed;


    .weather-basic-accordion-summary {
      .accordion-summary-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .accordion-summary-content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .left-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
          }

          .right-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
          }
        }
      }

    }


    .details-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      @media (max-width: 890px) {
        flex-direction: column;
      }

      .accordion-details-icon {
        margin-right: 6px;
      }

      .left-details {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 890px) {
          width: 100%;
        }
      }

      .right-details {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 890px) {
          width: 100%;
        }
      }

      .accordion-details-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 2px;

        @media (max-width: 890px) {
          justify-content: space-between;
        }
      }
    }


  }

  .icon-box {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}