.forecast-three-hourly {
  flex: 1;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
  background-color: rgba(32, 43, 59, 0.9) !important;
  color: #e6e6ed;
  display: flex;
  justify-content: center;

  .swiper {
    padding: 20px;

    .swiper-slide {
      display: flex;
      justify-content: center;


      .flip-card {
        background-color: #2e3d54 !important;
        color: #e6e6ed !important;
        width: 100%;
        min-width: 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .three-sixty {
          height: 10%;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          color: #9399a2;
        }

        .back-box {
          display: flex;
        }


      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: #e6e6ed !important;
    }

  }
}