.forecast-basic {
  width: 100%;
  height: auto;
  flex: 1;
  margin-bottom: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;

  .weather-basic-accordion {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    background-color: #202B3B;
    color: #e6e6ed;


    .weather-basic-accordion-summary {
      .accordion-summary-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .accordion-summary-content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .left-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
          }

          .right-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
          }
        }
      }

    }


    .details-content {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-evenly;
      width: 100%;
    }

    .left-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .right-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .icon-box {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}