.weather-app {
  /*   background-color: #0B131E; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: auto;
  padding: 2%;
  box-sizing: border-box;

  @media (max-width: 850px) {
    height: auto;
    padding: 2% 0 2% 0;
    align-items: center;
  }

  .forecasts {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    box-sizing: border-box;

    @media (max-width: 850px) {
      flex-direction: column;
    }

    .forecast-day {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;
      width: 60vw;
      min-width: 350px;
      box-sizing: border-box;

      @media (max-width: 850px) {
        width: 80%;
        margin-bottom: 3%;
        ;
      }

    }

    .forecast-week {
      height: 100%;
      width: 30vw;
      min-width: 350px;
      margin-left: 3%;
      box-sizing: border-box;

      @media (max-width: 850px) {
        width: 80%;
        margin-left: 0%;
      }
    }
  }
}